<div class="d-flex">
  <button routerLink="/products" class="m-3 btn btn-dark">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
      <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
    </svg>
  </button>
</div>

<div class="main_block">
  <div id="title" class="h2 text-white">Création de produit</div>

  <div>
    <form [formGroup]="productForm">

      <div class="main-side-form">
        <div class="form-goup">
          <label class="label_input text-white">Nom :</label>
          <input class="form-control" formControlName="name" id="name" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input text-white">Description :</label>
          <input class="form-control" formControlName="description" id="description" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input text-white">Prix :</label>
          <input class="form-control" formControlName="price" id="price" type="number">
        </div>

        <div class="form-goup">
          <label class="label_input text-white">Catégorie produit :</label>
          <input class="form-control" formControlName="category" id="categoryProduct" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input text-white">Quantité :</label>
          <input class="form-control" formControlName="quantity" id="quantity" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input text-white">Négociable :</label>
          <select formControlName="negotiable" class="form-select">
            <option value="true" [selected]="true">Oui</option>
            <option value="false">Non</option>
          </select>
        </div>

        <div class="form-goup">
          <label class="label_input text-white">Image :</label>
          <input class="form-control" id="image" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input text-white">Image :</label>
          <input class="form-control"  type="file" multiple (change)="selectImages($event)">
        </div>
      </div>

      <button (click)="onSubmit()" class="btn mt-5" style="background-color: #7386D5; color: white">Créer le produit</button>

    </form>
  </div>
</div>
