<div class="text-center d-flex h-75">
  <div class="mx-auto my-auto">
    <h2 class="my-5">
      Bienvenue sur le panel d'administration de Together We Are One !
    </h2>

    <div class="w-100">
      <a routerLink="products" class="btn btn-light px-5 py-3 text-white my-3 mx-5" style="background-color: #7386D5; width: 200px">
        Produits
      </a>

      <a routerLink="auction-sales" class="btn btn-light px-5 py-3 text-white my-3 mx-5" style="background-color: #7386D5; width: 200px">
        Enchères
      </a>
    </div>

    <div>
      <a routerLink="events" class="btn btn-light px-5 py-3 text-white my-3 mx-5" style="background-color: #7386D5; width: 200px">
        Evènements
      </a>

      <a routerLink="users" class="btn btn-light px-5 py-3 text-white my-3 mx-5" style="background-color: #7386D5; width: 200px">
        Utilisateurs
      </a>
    </div>
  </div>
</div>
