<div class="d-flex">
  <button routerLink="/create-event" class="mx-auto mt-4 mb-1 btn btn-dark px-5 py-2">
    Create
  </button>
</div>


<div *ngFor="let event of events" class="m-4 rounded-3 p-3 text-white" style="background-color: #6d7fcc">
  <div class="row">
    <div class="col d-flex my-auto">
      <p class="my-auto h3">{{event.title}}</p>
    </div>
    <div class="col d-flex my-auto text-center">
      <p class="my-auto mx-auto h6">{{event.description}}</p>
    </div>
    <div class="col" style="text-align: right">
      <button [routerLink]="['/edit-event', event.id]" class="btn btn-light mx-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
        </svg>
      </button>
      <button class="btn btn-danger" (click)="delete(event)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
        </svg>
      </button>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <div class="col d-flex my-auto">
      <p class="my-auto mx-auto">Participants Minimum: {{event.minParticipant}}</p>
    </div>
    <div class="col d-flex my-auto">
      <p class="my-auto">Participants Maximum: {{event.maxParticipant}}</p>
    </div>
    <div class="col d-flex my-auto">
      <p class="my-auto">Adresse: <br>{{event.address}}</p>
    </div>
    <div class="col d-flex my-auto">
      <p class="my-auto mx-auto">Ville: {{event.city}}</p>
    </div>
    <div class="col d-flex my-auto">
      <p class="my-auto">Code Postal: {{event.zip}}</p>
    </div>
    <div class="col d-flex my-auto">
      <p class="my-auto">Longitude: {{event.longitude}}</p>
    </div>
    <div class="col d-flex my-auto">
      <p class="my-auto">Latitude: {{event.latitude}}</p>
    </div>
    <div class="col d-flex my-auto">
      <p class="my-auto mx-auto">Date de Début: <br>{{event.startDate | date}}</p>
    </div>
    <div class="col d-flex my-auto">
      <p class="my-auto">Date de Fin: <br>{{event.endDate | date}}</p>
    </div>
    <div class="col d-flex my-auto">
      <p class="my-auto mx-auto">Type d'évènement: {{event.eventType == "ECOLOGICAL" ? "Ecologique" : "Humanitaire"}}</p>
    </div>
    <div class="col d-flex my-auto">
      <p class="my-auto mx-auto">Créateur: {{event.creator!.pseudo}}</p>
    </div>
  </div>
</div>
